@import "vars";
@import "fonts";

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	height: 100%; // ------Фиксация-футера-внизу-страницы---------


	// font-family: 'Oxanium', sans-serif;
	font-family: $fontFamily, Arial, Helvetica, sans-serif; 
	font-size: $fontSize;
	font-weight: 400;
	color: $mainTextColor;
	background-color: $bg;

	overflow-x: hidden;

}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	object-fit: cover;
	max-width: 100%;
	display: block;
}

button {
	font-family: inherit;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
}



// -----Общие блоки-----
@import "login";
@import "form-box";
@import "form";
@import "inputbox";
@import "forget";
@import "buttons";
@import "register";

.title {
	// font-family: 'Montserrat';
	font-size: 36px;
	line-height: 1.42;
	font-weight: 700;
	text-align: center;
}

// -----Общие блоки-End -----


// Adaptive 
// @import "_media"; 