// ------Vars------ 
$fontFamily: "Oxanium";
$fontSize: 16px;
$mainTextColor: #fff;
$textColor: #FAFAFA;
$accentColor: #FFBD59;

$bg: pink;

$maxWidthContainer: 1190px;

$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 319.98px;

//------Vars-End------ 